/** CSS file for Workbook 1 - page "one" */
/** note that CSS files can have comments - using "code style" comments */

/* this defines a style for a class */
.blueText {
    color:blue;
    background-color:blueviolet;
}

/* this defines a style for an ID */
#blueText {
    color: blueviolet;
    background-color: lightpink;
}

/* a simple box style to play with */
.onebox {
    border: 2px solid darkred;
    border-radius: 4px;
    width:200px;
    padding: 8px 10px 0px 10px;
    margin: 15px 5px 15px 5px; 
    background-color: lightgoldenrodyellow;
    color:darkorange;
}

/* for playing with the buttons */
.onebutton {
    width:100px;
    height:30px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 8px;
}
.onebutton:hover {
    border: 4px solid black;
}
.onebutton:active {
    color: white;
    background-color: blue;
}
#button12 {
    background-color: #820400;
    border-color: darkcyan;
    color: white;
}
#button12:active {
    background-color: darkgreen;
    color: #7e4c4c;
}
#button13 {
    background-color:#1eA83c;
}
#button13:active {
    background-color: #f8024d;
}
